/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: linear-gradient(1280deg, #8200a3b6 10%, #34016a 60%, #561255 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 80%;
  max-width: 900px;
  height: 450px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 50px 0px 50px 0px;
}

.left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #0f4c81;
}

.logo-placeholder {
  text-align: center;
  font-family: Comic 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login-box {
  flex: 1;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 50px 0px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 300px;
}

label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #333;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #ff0400;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #09345c;
}